version: '3.8'
    
services:

  db:
    image: mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: persons_db
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - ./data:/var/lib/mysql

  backend:
    image: persons-backend:latest
    restart: always
    depends_on:
      - db
    environment:
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=password
      - DB_DATABASE=persons_db
    ports:
      - "3000:3000"